/* ---- HEADER / NAVBAR ---- */

#navBar {
  display: flex;
  width: 100%;
  background-color: black !important;
}

#headerNavbarDiv {
  background-color: black;
}

/* ---- Logo ---- */

#hdLgImg {
  margin: 5px 0 5px 15px;
  width: 75px;
  height: auto;
  border-radius: 35px;
}

/* ---- CartWidget ---- */

#hdNbCart {
  padding-right: 15px;
  cursor: pointer;
}

